.grid {
  form {
    display: grid;
    padding: 2rem;
    grid-template-columns: 10rem auto;
    grid-column-gap: 1rem;
    grid-auto-rows: 2rem;
    grid-row-gap: 1rem;
    width: 60%;
    margin: 0 auto;
    

    label {
    font-size: 0.9rem;
    font-weight: bold;
    width: 100%;
    }

    input {
    padding: 0.2rem;
    }

    button {
      width: 6rem;
      grid-column: span 2;
      border: 1px solid darkgreen;
      border-radius: 5px;
      background-color: darkgreen;
      color: white;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: black;
      }
      &:active {
        background-color: rgba(0, 0, 0, 0.541);
      }
    }
  }
}
