@import '_variables.scss';
@mixin media-min-width($width) {
  @media(max-width: $width) {
    @content;
  }
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;

  h2 {
    margin-left: 15px;
  }

  ul {
    list-style: none;
    display: flex;
    margin-right: 45px;
    @include media-min-width(40rem) {
      display:none;
    }
  }

  li {
    padding: 0 10px;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &.active {
    border-bottom: 2px solid $header-font-color;
  }
}